[Desktop Entry]
Categories=Qt;KDE;Education;Teaching;
Exec=/usr/bin/RobotSteve
Name=RobotSteve
GenericName=Programmieren Lernen
Terminal=false
Type=Application
