#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Qt;Development;IDE;
Exec=/usr/bin/RobotSteve
Name=RobotSteve
GenericName=Programmieren Lernen
Terminal=false
Type=Application
MimeType=application/x-robotsteve-program;application/x-robotsteve-world;
Icon=RobotSteve
